<div id="contenedor">
  <div id="central">
      <div id="login">
          <div class="titulo">
              Bienvenido
          </div>
          <form id="loginform">
              <input type="text" [(ngModel)]="login.usuario" name="usuario" placeholder="Usuario" required>

              <input type="password"  [(ngModel)]="login.contrasena" placeholder="Contraseña" name="password" required>

              <button type="submit" (click)="loggear()" title="Ingresar" name="Ingresar">Login</button>
          </form>
          <div class="pie-form">
              <a [routerLink]="['/usuarios']">¿No tienes Cuenta? Registrate</a>
          </div>
      </div>
      <div class="inferior">
          <a href="#">Volver</a>
      </div>
  </div>
</div>

