<div id="contenedor">
  <div id="central">
      <div id="login">
          <div class="titulo">
              Crear Tarea
          </div>
          <form id="loginform">
              <input type="text" [(ngModel)]="tarea.nombreTarea" name="nombreTarea" placeholder="nombreTarea" required>

              <input type="text"  [(ngModel)]="tarea.tipoTarea" name="tipoTarea"placeholder="tipoTarea" required>

              <input type="text"  [(ngModel)]="tarea.descripcionTarea" placeholder="descripcionTarea" name="descripcionTarea" required>

              <button type="submit" (click)="crearTarea()" title="Ingresar" name="Ingresar">Crear Tarea</button>
              <button type="submit"  [routerLink]="['/login']" title="Cerrar Sesión" name="cerrarSesion">Cerrar Sesión</button>
            </form>

      </div>
      <div class="inferior">
          <a [routerLink]="['/tareas']">Volver</a>
      </div>
  </div>
</div>

