<div id="contenedor">
  <div id="central">
      <div id="login">
          <div class="titulo">
              Registrate!!
          </div>
          <form id="loginform">

              <input type="text" [(ngModel)]="usuario.usuario" name="usuario" placeholder="Usuario" required>

              <input type="text"  [(ngModel)]="usuario.contrasena" placeholder="Contraseña" name="password" required>

              <input type="text"  [(ngModel)]="usuario.primerNombre" placeholder="primerNombre" name="primerNombre" required>

              <input type="text"  [(ngModel)]="usuario.segundoNombre" placeholder="segundoNombre" name="primerNombre" required>

              <input type="text"  [(ngModel)]="usuario.primerApellido" placeholder="primerApellido" name="primerApellido" required>

              <input type="text"  [(ngModel)]="usuario.segundoApellido" placeholder="segundoApellido" name="segundoApellido"required>

              <button type="submit" (click)="crearUsuario()" title="Ingresar" name="Ingresar">Login</button>
          </form>

      </div>
      <div class="inferior">
          <a [routerLink]="['/login']">Volver</a>
      </div>
  </div>
</div>

